.searchInput {
  display: inline;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: rgb(156, 155, 155);
  border: 3px #cadaae solid;
  border-radius: 10px;
  width: 240px;
  height: 30px;
  font-size: 17px;
}
.searchInput:hover {
  border: 3px #b9ca9c solid;
}

.searchInput:focus {
  border: 3px #b9ca9c solid;
}
.controlPanel {
  margin: none;
  width: 419px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.sortingCheckBox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.currentSortingCheckBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}
.currentSortingCheckBox::after {
  content: "";
  position: relative;
  border: 3px solid #fff;
  height: 10px;
  width: 10px;
  left: 37%;
  top: 13px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sortingLabel {
  height: 42px;
  width: 57px;
  background-color: #cadaae;
  border-radius: 10px;
}

.sortingLabel:hover {
  background-color: #c0cda9;
  border-radius: 10px;
}

.sortingCheckBox:checked ~ .currentSortingCheckBox::after {
  content: "";
  position: relative;
  border: 3px solid #ff8a8a;
  height: 10px;
  width: 10px;
  left: 36%;
  top: 14px;
  transform: rotate(45deg);
}

.searchButton {
  font-weight: 700;
  outline: none;
  display: inline-block;
  background-color: #fbbebe;
  display: inline;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 0px;
  border: none;
}
.searchButton :hover {
  outline: none;
  background-color: #e29e9e;
}

.searchButton:disabled {
  background-color: #d4caca;
}
