body,
html {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.listTodos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 10px;
  width: 400px;
  height: auto;
  padding: 5px;
  margin: 5px;
  border: 3px solid #ffcaca;
  border-radius: 10px;
  background-color: rgb(255, 251, 233);
  color: rgb(112, 120, 120);
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.checkboxLabel {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.currentcheckbox {
  position: relative;

  margin-left: 6px;
  height: 18px;
  width: 18px;
  background-color: #ffc8c8;
  border: 2px solid transparent;
  border-radius: 3px;
  flex-shrink: 0;
  pointer-events: none;
}

.message:hover .checkbox ~ .currentcheckbox {
  background-color: #f4b8b8;
}

.checkbox:checked ~ .currentcheckbox {
  background-color: #f29a9a;
}

.checkbox:checked ~ .currentcheckbox::after {
  display: block;
}

.currentcheckbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fcfbf6;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.titleTodo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deleteButton {
  outline: none;
  font-size: 30px;
  background-color: #fbbebe;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 0px;
  border: none;
}

.deleteButton:hover {
  background-color: #f29a9a;
  border: 1px solid transparent;
  outline: none;
}

.deleteButton:focus {
  outline: none;
}

.changeButtons {
  display: flex;
  justify-content: right;
}

.changeContentButton {
  width: 32px;
  background-color: #cadaae;
  color: #fcfbf6;
  padding: 2px 7px 5px 7px;
  margin-right: 5px;
  border: 1px solid transparent;
}

.changeContentButton:focus {
  outline: none;
}

.changeContentButton:hover {
  background-color: #c0cda9;
  border: 1px solid transparent;
  outline: none;
}

.backLink {
  margin-left: 9px;
  margin-right: 7px;
  margin-top: 3px;
  color: #f29a9a;
  font-size: 25px;
}
.backLink:hover {
  color: #b9ca9c;
}

.editTask {
  font-size: 17px;
  border: none;
  margin-left: 5px;
  max-width: 370px;
  background-color: rgb(255, 251, 233);
  color: rgb(112, 120, 120);
}

.editTask:hover {
  color: #b9ca9c;
}

.editTask:focus {
  outline: none;
}

.editInput {
  flex: 1;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 200px;
  font-size: 17px;
  border: none;
  margin-left: 7px;
  height: auto;
  background-color: rgb(255, 251, 233);
  color: rgb(112, 120, 120);
  width: 170px;
}

.editInput:focus {
  outline: none;
}

.editButton {
  outline: none;
  font-size: 20px;
  background-color: #fbbebe;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  padding: 0px;
  border: none;
}

.editButton:hover {
  outline: none;
  background-color: #f29a9a;
}
.editButton:focus {
  outline: none;
}

.linkTask {
  flex: 1;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 17px;
  border: none;
  margin-left: 7px;
  height: auto;

  max-width: 215px;
  background-color: rgb(255, 251, 233);
  color: rgb(112, 120, 120);
}
.linkTask:focus {
  outline: none;
}

.notFoundDiv {
  color: #f58484;
  font-size: 18px;
  margin-left: 7px;
  margin-top: 3px;
}
